<h1>About Bloccit</h1>
<p>Created by: Me</p>
<button class="social_bttn"><%= link_to "Follow me", "https://www.instagram.com/ericcstephens" %></button>
<button class="social_btn"><%= link_to "Loveee me", "https://www.instagram.com/ericcstephens" %></button>
<button type="button" class="btn btn-warning-outline"><%= link_to "Warning", "https://www.instagram.com/ericcstephens" %></button>