// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social_bttn {
    background-color: #7fffd4; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.social_btn {
    color: #7fffd4;
    height: 20px;
    padding: 10 10 10 20;
    width: 100px;
}

//h1 {
//    color: red;
//}

//#index-title {
//   text-align: center;
//   font-size: 15px;
//   color: blue;
//}


//.posts {
//    border: solid;
//    margin: 5px;
//    padding: 5px;
//    height: 200px;
//}
 
//section {
//   background: #5998ff;
//   border-style: solid;
//   border-width: 5px;
//   margin: 5px 5px 5px 5px;
//   padding: 5px 5px 5px 5px;
//}